json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-server==1.0.4
jupyterlab==2.1.5
jupyterlab-pygments==0.1.2
jupyterlab-server
pandas
requests
voila==0.2.3
